################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/HangMan/v16
/HangMan/Debug
